<html lang="en">

<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

      <!-- It shows Story Information -->
      <div class="container mt-5" id="story_info">
        <div class="row row-cols-2 row-cols-md-2 row-cols-sm-1">
          <div class="col card">
            <img id="story_info_image" src="<%= story.photo%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <%= story.title %>
              </h5>
              <div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Author :<small class="text-muted">
                      <%= story.author %>
                    </small></li>
                  <li class="list-group-item">Date : <small class="text-muted">
                      <%= story.date %>
                    </small></li>
                  <li class="list-group-item">Content :<small class="text-muted">
                      <%= story.content%>
                    </small></li>
                </ul>
              </div>
              <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>

          </div>
          <!-- It shows initial form for connect to the room -->
          <div class="col card" id="initial_form">
            <div class="card-title">
              <p>Please insert the id of the Room you want to Join, if you do not have a room id, click Generate Room
              </p>
            </div>
            <form>
              <div class="card-body">
                <p><label for="name"> Your name </label>
                  <input type="text" id="name" name="name">
                </p>
                <p>
                  <label for="roomNo"> Your room </label>
                  <input type="text" id="roomNo" name="roomNo">
                  <a id="roomNoGenerator" class="btn btn-warning">Generate Room</a>
                </p>
                <div id="warning" style="display: none;">
                  <p class="fw-bold text-warning">Room Id cannot be empty</p>
                </div>
              </div>
              <div class="card-footer text-end">
                <a id="connect" class="btn btn-success " data-doc="<%= story.photo %>"
                  data-sid="<%= story_id %>">Connect</a>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- It shows canvas and image  -->
      <div class="container" id="canvas_form">
        <div style="width: 100%; height: 50vh; ">
          <img id="image" height="100%">
          <canvas id="canvas"></canvas>
        </div>
      </div>
      <!-- It shows chat interface -->
      <div class="container" id="chat_interface">
        <div class="row row-cols-1 row-cols-sm-2">
          <!-- It shows story info without img -->
          <div class="card col">
            <div class="card-body">
              <h5 class="card-title">
                <%= story.title %>
              </h5>
              <div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Author :<small class="text-muted">
                      <%= story.author %>
                    </small></li>
                  <li class="list-group-item">Date : <small class="text-muted">
                      <%= story.date %>
                    </small></li>
                  <li class="list-group-item">Content :<small class="text-muted">
                      <%= story.content%>
                    </small></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- knowledge graph -->
          <div class="card col">
            <div class="card-header">
              <h5 class="card-title">Search the Knowledge Graph</h5>
            </div>
            <div class="myRow" id="typeForm">
              <label for="myType">Type: </label><input type="text" id="myType">
              <button onclick="widgetInit()">Set type</button>
            </div>
            <div class="myRow" id='widget' style="display: none">
              <label for="myInput">Search for: </label><input type="text" id="myInput">
              <label class="myRow" id="typeSet"></label>
            </div>
            <div id="resultBox" style="height:300px;overflow: auto; ">
              <div id="resultContainer">
              </div>
            </div>
          </div>
        </div>
        <!-- chat room interface -->
        <div class="row">
          <div class="card border-top-0">
            <div class="card-header">
              <div id="who_you_are" style="display: inline" style="height: 10vh"></div>, you are in room: <div
                id="in_room" style="display: inline"></div>
              <a class="btn btn-link" onClick="window.location.reload()">Disconnect</a>
            </div>
            <div id="message-container" class="card-body" style="height: 500px; overflow: auto;">
              <ul id="message-list" class="list-group">
              </ul>
            </div>
            <div class="card-footer bg-white">
              <div class="row m-3">
                <div class="col-10">
                  <input type="text" class="form-control border-0 border-bottom shadow-none" id="comment"
                    placeholder="Write a message...(enter to send)">
                </div>
                <div class="col-2">
                  <button id="send_msg" type="submit" class="btn btn-primary">Send Message</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include('./partials/footer.ejs') %>
        <script src="/javascripts/details.js" type="module"></script>
        <script src="/javascripts/canvas.js"></script>
        <script src="/javascripts/indexedDB/messageDB.js" type="module"></script>
        <script src="/javascripts/indexedDB/canvasDB.js" type="module"></script>
        <script src="/javascripts/indexedDB/storyDB.js" type="module"></script>
        <script src="/javascripts/indexedDB/room_to_story.js" type="module"></script>
  </body>

</html>
