<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-light fixed-top navbar-expand-md border-bottom bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">
        <span class="fw-bold text-dark">
          Cyber Studio
        </span>
      </a>
      <a href="/create" id="btn_create_story" class="btn btn-dark">Create Story</a>
    </div>
  </nav>
  <section>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">
        <% if(stories){ %>
          <% stories.forEach(story=> { %>
            <div class="col">
              <div class="card h-100" id="card">
                <img src="/images/landmark01.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="card-title">
                    <%= story.title %><small class="text-muted">-<%= story.author %> - <%= story.date %> -
                      </small><small id="storyId">
                        <%= story.id %>
                      </small>
                  </h3>
                  <p class="card-text">
                    <%= story.content.slice(0,200) %>
                  </p>
                </div>
                <div class="card-footer">
                  <a type="button" class="btn btn-primary d-flex my-1" data-bs-toggle="modal"
                    data-bs-target="#createRoom">
                    Create The Room
                  </a>
                  <a type="button" class="btn btn-dark d-flex my-1" data-bs-toggle="modal" data-bs-target="#joinRoom">
                    Join The Room
                  </a>
                </div>
              </div>
            </div>

            <!-- modal for create the room -->
            <div class="modal fade" id="createRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
              aria-labelledby="createRoomLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="createRoomLabel">Create The Secret Room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Create the room for <strong>
                        <%= story.title %>
                      </strong> </p>
                    <label>please enter a room id: </label>
                    <input type="text" placeholder="ex: R123456">
                  </div>
                  <div class="modal-footer">
                    <a type="button" class="btn btn-primary">Confirm</a>
                  </div>
                </div>
              </div>
            </div>

            <!-- modal for join the room -->
            <div class="modal fade" id="joinRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
              aria-labelledby="joinRoomLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="joinRoomLabel">Join The Secrect Room</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Join the room for <strong>
                        <%= story.title %>
                      </strong> </p>
                    <label>please enter a room id: </label>
                    <input type="text" placeholder="ex: R123456">
                  </div>
                  <div class="modal-footer">
                    <a href="/story/<%= story.id %>" type="button" class="btn btn-primary">Confirm</a>
                  </div>
                </div>
              </div>
            </div>
            <% }) %>
              <% } %>
      </div>
    </div>
  </section>



  <script src="/javascripts/index.js"></script>
</body>

</html>