<html lang="en">
<%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
      <section>
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">
            <% if(stories){ %>
              <% stories.forEach(story=> { %>
                <div class="col">
                  <div class="card h-100" id="card">
                    <img src="<%= story.photo%>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h3 class="card-title">
                        <%= story.title %><small class="text-muted">-<%= story.author %> - <%= story.date %>
                          </small>
                      </h3>
                      <p class="card-text">
                        <%= story.content.slice(0,98) %> ...
                      </p>
                    </div>
                    <a href="/details/<%= story.story_id %>" class="stretched-link"></a>
                  </div>
                </div>
                <% }) %>
                  <% } %>
          </div>
        </div>
      </section>
      <%- include('./partials/footer.ejs') %>
        <script src="/javascripts/index.js"></script>
  </body>

</html>